/* Definindo as propriedades do elemento principal */
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12.5rem;
  max-width: 86.25rem;
}

/* Estilizando o formulário de contato */
form {
  display: grid;
  width: 50%;
}

form h1 {
  display: flex;
  justify-content: center;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.3125rem;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: "Inter";
  padding: 0.625rem;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
}

/* Estilizando o botão para envio do formulário */
button {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.125rem;
  margin-top: 1.25rem;
  padding: 0.9375rem;
  cursor: pointer;
  background: #473bf0;
  color: #fff;
  border-style: none;
}

button:hover {
  opacity: 90%;
}

/* Ajustes para responsividade dos elementos */
@media all and (max-width: 1150px) {
  main {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 26.25rem;
    margin-bottom: 7.5rem;
    padding: 0;
  }
  form h1 {
    font-size: 1.125rem;
  }
}
