/* Definindo as propriedades do elemento principal */
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8.125rem;
  max-width: 86.25rem;
}

.sobre-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.sobre-container div {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.25rem;
}

.sobre-container div p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #33415c;
  margin: 20px 40px 5px 0px;
}

dt {
  color: #6665dd;
  font-weight: bold;
  font-size: large;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid;
}

dt span {
  color: #33415c;
  font-weight: bold;
  font-size: small;
}

dd {
  color: #33415c;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
}

dd span {
  color: #33415c;
  font-weight: bold;
  font-size: medium;
}

/* Ajustes para responsividade dos elementos */
@media all and (max-width: 1150px) {
  main {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 26.25rem;
    margin-bottom: 7.5rem;
    padding: 0;
  }
}
