/* Ignorando a scroll bar */
html {
  overflow-y: scroll;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Inter";
}

.body-container {
  max-width: 1380px;
  margin: 0 auto;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #473bf0;
  color: #000500;
  text-align: center;
}
