/* Definindo as propriedades do elemento principal */
main {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12.5rem;
  max-width: 86.25rem;
}

/* Definindo as propriedades dos conteúdos */
.main-info {
  width: 100%;
  max-width: 37.5rem;
}

.main-info p {
  color: #33415c;
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0.625rem;
}

img {
  width: 31.25rem;
  height: 31.25rem;
  object-fit: cover;
  border-radius: 50%;
}

p span {
  font-size: 1.5rem;
  font-weight: 600;
}

h1 {
  margin: 0;
}

h1 span {
  color: #473bf0;
}

/* Ajustes para responsividade dos elementos */
@media all and (max-width: 1150px) {
  h1,
  p {
    text-align: center;
  }
  main {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 26.25rem;
    margin-bottom: 7.5rem;
    padding: 0;
  }
  img {
    width: 21.875rem;
    height: 21.875rem;
  }
}
