main {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 130px;
  max-width: 1380px;
}

.portfolio-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.portfolio-container .item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-container div p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #33415c;
  margin: 20px 0px 20px 0px;
}

@media all and (max-width: 1150px) {
  main {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 420px;
    margin-bottom: 120px;
    padding: 0;
  }
  iframe{
    width: 90%;
  }
}
