main {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 130px;
  max-width: 1380px;
}

.sobre-container{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.sobre-container div{
  padding-bottom: 0.25rem;
}

.sobre-container div p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #33415c;
  margin: 20px 40px 5px 0px;
}

.sobre-container .exp{
  margin-left: 1.6rem;
  margin-right: 1.5rem;
}

dt{
  color:#6665DD;
}

dt span{
  color: #33415c;
  font-weight: bold;
  font-size: small;
}

dd{
  color:#33415c;
  padding-bottom: 1.25rem;
}

@media all and (max-width: 1150px) {
  main {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 420px;
    margin-bottom: 120px;
    padding: 0;
  }
}
